---
title: Dopetrope
layout: landing
---
  
	<body class="homepage">
	{% include header_landing.html %}

		<!-- Main -->
			<div id="main-wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">

							<!-- Portfolio -->
								<section>
									<header class="major">
										<h2>My Work</h2>
									</header>
									<div class="row">
										{% for post in site.posts offset: 0 limit: 4 %}
										<div class="3u">
											<section class="box">
												<a href="#" class="image featured"><img src="{{ site.baseurl }}{{ post.featured }}" alt="" /></a>
												<header style="margin-bottom: 0;">
													<h3>{{ post.title }}</h3>
													<p>{{ post.date | date_to_string }}</p>
												</header>
												<h6>{{ post.excerpt }}</h6>
												<footer>
													<a href="{{ site.baseurl }}{{ post.url }}" class="button alt">进 入 查 看</a>
												</footer>
											</section>
										</div>
										{% endfor %}
									</div>
								</section>

						</div>
					</div>
