<!--
 * @Description: 
 * @Author: yuhong
 * @Date: 2020-05-19 16:34:16
--> 
<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					<!-- Logo -->
						<h1><a href="index.html">yuhong's blog</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="index.html">全部</a></li>
								<!-- <li>
									<a href="">Dropdown</a>
									<ul>
										<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
										<li><a href="#">Magna phasellus</a></li>
										<li><a href="#">Etiam dolore nisl</a></li>
										<li>
											<a href="">Phasellus consequat</a>
											<ul>
												<li><a href="#">Magna phasellus</a></li>
												<li><a href="#">Etiam dolore nisl</a></li>
												<li><a href="#">Veroeros feugiat</a></li>
												<li><a href="#">Nisl sed aliquam</a></li>
												<li><a href="#">Dolore adipiscing</a></li>
											</ul>
										</li>
										<li><a href="#">Veroeros feugiat</a></li>
									</ul>
								</li> -->
								<!-- <li><a href="{{ site.baseurl }}/left-sidebar.html">Left Sidebar</a></li>
								<li><a href="{{ site.baseurl }}/right-sidebar.html">Right Sidebar</a></li>
								<li><a href="{{ site.baseurl }}/no-sidebar.html">No Sidebar</a></li> -->
								<li><a href="{{ site.baseurl }}/left-sidebar.html">学习</a></li>
								<li><a href="{{ site.baseurl }}/right-sidebar.html">影视</a></li>
								<li><a href="{{ site.baseurl }}/no-sidebar.html">生活</a></li>
								<li><a href="{{ site.baseurl }}/no-sidebar.html">小说</a></li>
							</ul>
						</nav>

					<!-- Banner -->
						<section id="banner">
							<header>
								<h2>A fire in the heart always burns</h2>
								<p>Thanks for the template provided by HTML5 UP</p>
							</header>
						</section>

					<!-- Intro -->
					<!-- 这一块留给以后主要的作品展示 -->
						<!-- <section id="intro" class="container">
							<div class="row">
								<div class="4u">
									<section class="first">
										<i class="icon featured fa-cog"></i>
										<header>
											<h2>Ipsum consequat</h2>
										</header>
										<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
									</section>
								</div>
								<div class="4u">
									<section class="middle">
										<i class="icon featured alt fa-flash"></i>
										<header>
											<h2>Magna etiam dolor</h2>
										</header>
										<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
									</section>
								</div>
								<div class="4u">
									<section class="last">
										<i class="icon featured alt2 fa-star"></i>
										<header>
											<h2>Tempus adipiscing</h2>
										</header>
										<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
									</section>
								</div>
							</div>
							<footer>
								<ul class="actions">
									<li><a href="#" class="button big">Get Started</a></li>
									<li><a href="#" class="button alt big">Learn More</a></li>
								</ul>
							</footer>
						</section> -->

				</div>
			</div>